

<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
            <!-- <li class="nav-item">
            <a class="navbar-brand" href="#"> <img src="/assets/img/logo.png" style="width: 70px;"></a>
            </li> -->
            
      <li class="nav-item active">
        <a class="nav-link" href="#">Flights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hotels</a>
      </li>
      
    </ul>
  
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
              <a class="nav-link" href="/login">Sign in</a>
          </li>
        -->
      </ul>
  </div>
      
  </nav>

  <div class="container">  
        <div [formGroup]="paymentForm"> 
      <form id="contact" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <h3 style="text-align: center;">Pay instantly and securely with your credit card </h3><br>
        <fieldset>
                <fieldset>
                        <input placeholder="Account Type" type="text" formControlName="accountType" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }">
                        <div *ngIf="submitted && f.accountType.errors" class="invalid-feedback">
                            <div *ngIf="f.accountType.errors.required">first name is required</div></div>
                      </fieldset>
                    
        <fieldset>
            <input placeholder="Card number" type="text"   formControlName="cardNumber" [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }">
            <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
                <div *ngIf="f.cardNumber.errors.required">Title is required</div></div>
          </fieldset>
        <fieldset>
          <input placeholder="First name and Surname" type="text" formControlName="accountholderName" [ngClass]="{ 'is-invalid': submitted && f.accountholderName.errors }">
          <div *ngIf="submitted && f.accountholderName.errors" class="invalid-feedback">
              <div *ngIf="f.accountholderName.errors.required">first name is required</div></div>
        </fieldset>
        <fieldset>
          <input placeholder="Expiry date" type="text"  formControlName="expirryDate" [ngClass]="{ 'is-invalid': submitted && f.expirryDate.errors }" >
          <div *ngIf="submitted && f.expirryDate.errors" class="invalid-feedback">
              <div *ngIf="f.expirryDate.errors.required">surname is required</div></div>
        </fieldset>
        <fieldset>
          <input placeholder="CVV" type="text" formControlName="cvv" [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }">
          <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
              <div *ngIf="f.cvv.errors.required">email is required</div></div>
        </fieldset>
        <hr>
           
       <p>Have a voucher code? Complete payment details to redeem.</p><br>
       <p style="font-size:10pt;">By proceeding to book I agree and accept the<span style="background-color: #d1effd; color: #1bb3f5; border-radius: 3px;    padding: .28571em .21429em;"> Terms and conditions </span> of the Travelstart website and its travel partners.</p>
    <br>  
          <button type="submit" id="contact-submit" >Continue</button>
        </fieldset>
      
      </form>
      </div>
    </div>
  <br><br>

        <!-- Footer -->
  
        <div class = "top-footer">
          
            <div class="row" style="margin-left: 120px;">
                <div class="col-sm">
                  <h6>PLAN YOUR TRIP</h6>
                  <br>
                  <p>Product and Services</p>
                  <p>Travellers Guide</p>
                  <p>Destinations</p>
                  <p>Holiday Packages</p>
                   <p>Blog</p>
                </div>
                <div class="col-sm">
                    <h6>PARTNERS</h6>
                    <br>
                    <p>Become an Affiliate</p>
                    <p>Business Travel</p>
                </div>
                <div class="col-sm">
                    <h6>NEED HELP?</h6>
                    <br>
                    <p>Contact Us</p>
                    <p>FAQ</p>
                </div>
              </div>
            
        
        </div>
        
        <footer>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="font-size:11pt;">Copyright © 1999-2018 Travelstart Online Travel Operations Pty LTD.
              </div>
              <!-- Copyright -->
        </footer>
  
  <!-- Footer -->
       
          
     
          
       